# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY=
# SECURITY WARNING: don't run with debug turned on in production!
DEBUG=
# Telegram Bot settings
TELEGRAM_BOT_TOKEN=

# PostgreSQL
POSTGRES_DB=atomic-tracker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# HOSTS or your server ip
ALLOWED_HOSTS=localhost,127.0.0.1

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
